@model WebAppVsEat.Models.PersonalData

@{
    ViewData["Title"] = "Deliver";
}
<h1 style="font:bolder 50px arial">My Account</h1>
<h2 style="font:bolder 40px arial">Personal Data</h2>



<p>
    <b>Firstname</b>  
    <text style="padding-left:16px;">@Model.user.Firstname</text>
</p>
<p>
    <b>Name</b>
    <text style="padding-left:43px"> @Model.user.Name</text>
    </p>
<p>
    <b>Address</b>
    <text style="padding-left:25px"> @Model.user.Adress</text>
</p>
<p>
    <b>City</b>
    <text style="padding-left:55px"> @Model.city.NPA</text>
    <text>@Model.city.CityName</text>
</p>
<p>
    <b>Email</b>
    <text style="padding-left:43px"> @Model.user.Email</text>
</p>
<p>
    <b>Telephone</b> 
    <text style="padding-left:10px">@Model.user.Telephon</text>
</p>



<h1 style="font:bolder 40px arial">Incoming Deliveries</h1>
@if (Model.orderlist.Any())
{

    <table class="table" style="background-color:lightgrey">
        <thead>
            <tr style="background-color:#3d3a3a; color:white;">
                <th>
                    No. order
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    Delivery Date
                </th>
                <th>
                    Total Price
                </th>
                <th style="width:120px;"></th>
                <th style="width:120px;"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.orderlist)
            {
                @if (item.Status.Equals("Not delivered"))
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice) CHF
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsOrder", "Account", new{ id = item.IdOrder })" class="btn" style="background-color:#aa1515;">
                                <span>
                                    <strong style="color:white;">Details</strong>
                                </span>
                            </a>

                        </td>
                        @if (item.Status.Equals("Not delivered") && (item.ShippingDate.Date == DateTime.Now.Date) && (item.ShippingDate.TimeOfDay.TotalMinutes - DateTime.Now.TimeOfDay.TotalMinutes) >= 180)
                        {
                    <td >
                        <a >
                            @Html.ActionLink("Cancel order", "DeleteOrder", new { id = item.IdOrder }, new { onclick = "return confirm('Are you sure you wish to delete this order?');", @style="color:#b40909; font:bold" })
                         </a>
                        
                    </td>

                        }
                    </tr>
                }
            }
        </tbody>
    </table>





    <h1 style="font:bolder 40px arial">Previous Orders</h1>
    <table class="table" style="background-color:lightgrey">
        <thead>
            <tr style="background-color:#3d3a3a; color:white;">
                <th>
                    No Order
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date of Order
                </th>
                <th>
                    Delivery Date
                </th>
                <th>
                    Total Price
                </th>
                <th ></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.orderlist)
            {
                @if (item.Status.Equals("Completed"))
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdOrder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShippingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice) CHF
                        </td>
                        <td>
                            <a href="@Url.Action("DetailsOrder", "Account", new{ id = item.IdOrder })" class="btn" style="background-color:#aa1515;">
                                <span>
                                    <strong style="color:white;">Details</strong>
                                </span>
                            </a>
                        </td>

                        @if (item.Status.Equals("Not delivered") && (item.ShippingDate.Date == DateTime.Now.Date) && (item.ShippingDate.TimeOfDay.TotalMinutes - DateTime.Now.TimeOfDay.TotalMinutes) >= 180)
                        {
                            <td>
                                @Html.ActionLink("Delete the order", "DeleteOrder", new { id = item.IdOrder })
                            </td>

                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h1>There is no orders</h1>
}
