@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Deliver";
}
    <h2>WELCOME ABORD NEW CUSTOMER CALLED @User.Identity.Name</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdClient)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice) CHF
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClient)
                </td>
                
                @if (item.Status.Equals("Not delivered") && (item.ShippingDate.TimeOfDay.TotalMinutes- DateTime.Now.TimeOfDay.TotalMinutes) >= 180)
                {
                    <td>
                        @Html.ActionLink("Delete the order", "ConfirmDelivery", new { id = item.IdOrder })
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>There is no orders</h1>
}