@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Deliver";
}

<h2>Deliver</h2>

@if (Model.Any())
{
<table class="table" style="background-color:lightgrey">
    <thead>
        <tr style="background-color:#3d3a3a; color:white;">
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice) CHF
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClient)
            </td>
            <td>
                <a href="@Url.Action("DetailsOrder", "Account", new{ id = item.IdOrder })" class="btn" style="background-color:#aa1515;">
                    <span>
                        <strong style="color:white;">Details</strong>
                    </span>
                </a>
            </td>
            @if (!item.Status.Equals("Completed"))
            {
                <td>
                    @Html.ActionLink("Confirm the delivery", "ConfirmDelivery", new { id = item.IdOrder })
                </td>
            }
        </tr>
}
    </tbody>
</table>
}
else
{
    <h1>There is no orders</h1>
}