


@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "GetRestaurants";
}

<h2>Restaurants</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table"style="background-color:lightgrey" >
    <thead >
        <tr style="background-color:#3d3a3a; color:white;" >
            <th >
                @Html.DisplayNameFor(model => model.IdRestaurant)
            </th>
            <th style="background-color:#3d3a3a; color:white;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="background-color:#3d3a3a ; color:white;">
                @Html.DisplayNameFor(model => model.Openingdate)
            </th>
            <th style="background-color:#3d3a3a ; color:white;">
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th style="background-color:#3d3a3a ; color:white;">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th style="background-color:#3d3a3a ; color:white;">
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th style="background-color:#3d3a3a ; color:white;">
                @Html.DisplayNameFor(model => model.IdCity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRestaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Openingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdRestaurant}) |
                @Html.ActionLink("Details", "Details", new { id=item.IdRestaurant }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
